/* My page */
.mypage {
  padding-top:60px;
}
.mypage .my-page-box.top .deam {
  display: block;
  width: 100%;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3) !important;
  z-index: 1;
}
.mypage .my-page-box.top:hover .profile-cover-change {
  display: block;
}
.my-page-box{
  overflow: visible;
  position: relative;
  width: 100%;
  min-width: 1200px;
  margin:-30px auto 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.my-page-box.top{
  overflow: visible;
  position: relative;
  width: 100%;
  height: 360px;
  min-width: 1200px;
  margin: 0 auto;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;
}
.my-page-box .tit-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 360px;
  margin: 0 auto;
}
.my-page-box .tit-img img{
  width: 100%;
  position:absolute;
  left:0;
  min-height: 360px;
  display: block;
}
.mypage .my-page-box .tit-img  .loading-image{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  margin: -40px 0 0 -25px;
  padding: 0;
  color: #ff8000;
  font-size: 30px!important;
  z-index: 27;
}
.my-page-box .profile-wrap {
  position: relative;
  width: 500px;
  margin: -360px auto 0;
  padding-top: 35px;
  z-index: 1;
}
.my-page-box .profile-wrap .profile-cover-change {
  top:285px;
  left:-350px;
}
.my-page-box .profile-wrap .re-arrange-mode {
  position: absolute;
  top:285px;
  left:-352px;
}
.my-page-box .profile-wrap .profile-top-box {
  position: relative;
  width: 100%;
  margin:0 auto;
}
.my-page-box .profile-wrap .profile-top-box > div {
  position: relative;
  width: 100%;
  margin:5px auto 0;
  text-align: center;
}
.profile-wrap .profile-img {
  display: block;
  width: 145px;
}
.profile-wrap .profile-img a {
  overflow: hidden;
  display: block;
  width: 140px;
  height: 140px;
  margin:0 auto;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
}
.profile-wrap .profile-img  img{
  overflow: hidden;
  display: block;
  width: 140px;
  height: 140px;
  margin:0 auto;
  border:2px solid #fff;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
}
.mypage .profile-wrap .profile-img .loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  margin: -20px 0 0 -25px;
  padding: 0;
  color: #ff8000;
  font-size: 30px!important;
  z-index: 27;
}
.profile-wrap .profile-img .file-input-wrapper {
  display: none;
}
.profile-wrap .profile-img:hover .file-input-wrapper {
  display: block;
  position: absolute;
  top: 55px;
  left: 50%;
  margin: 0 0 0 -65px;
  width: 130px;
}
.profile-wrap .user-info-links {
  display: block;
}
.profile-wrap .user-info-links h3 {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
.profile-wrap .user-info-links .author-sns {
  display: inline-block;
  line-height: 30px;
  margin-left:5px;
}
.profile-wrap .user-info-links .author-sns a {
  display: inline-block;
  width: 25px;
  height:25px;
  margin:0 1px;
}
.profile-wrap .user-info-links .author-sns a img {
  width:100%;
  height:100%;
}
.profile-wrap .user-wishbeen-link {
  padding-top:5px;
}
.profile-wrap .user-wishbeen-link a{
  display: block;
  overflow: hidden;
  width:100%;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
.profile-wrap .user-wishbeen-link a strong{
  font-weight: 600;
  color: #ff8000;
}
.profile-wrap .user-info-ment {
  line-height: 17px;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
}
.profile-wrap .user-info-ment p,
.profile-wrap .user-info-ment a,
.profile-wrap .user-info-ment div{
  line-height: 17px;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  text-shadow: 2px 2px 2px rgba(0,0,0,.4);
  text-align: center;
  word-break: break-all;
}
.my-page-box .profile-wrap .btn-setting {
  overflow: hidden;
  position: absolute;
  top:0;
  left:50%;
  margin-left:550px;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../../images/btn-setting-off.png) no-repeat 0 0;
}
.my-page-box .profile-wrap .btn-setting:hover,
.my-page-box .profile-wrap .btn-setting:focus,
.my-page-box .profile-wrap .btn-setting:active{
  background: url(../../images/btn-setting-on.png) no-repeat 0 0;
}
.my-page-box .profile-wrap .btn-setting span {
  font-size: 0px;
  text-indent:-999px;
}


/* 마이페이지 Tab box {*/
.my-page-box .tab-box {
  width:1200px;
  margin:0 auto;
  position: relative;
  z-index: 510;
}
.tab-box .mypage-tabs {
  overflow: hidden;
  position: relative;
  height: 100px;
  padding:0 0 10px 0;
  z-index: 10;
}
.tab-box .mypage-tabs  ul {
  width: 100%;
  height: 90px;
  border:1px solid #ddd;
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.tab-box .mypage-tabs li {
  position: relative;
  float:left;
  width: 199px;
  height: 90px;
  background: url(../../images/bg-mypage-tab-li.png) no-repeat 0 15px;
}
.tab-box .mypage-tabs li  a{
  overflow: hidden;
  display: block;
  color: #999;
  padding:45px 0 20px 0;
  text-align: center;
}
.tab-box .mypage-tabs li  a .num {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #999;
}
.tab-box .mypage-tabs li.active  a .num,
.tab-box .mypage-tabs li  a:hover .num {
  color: #ff8000;
}
.tab-box .mypage-tabs li  span {
  font-size: 14px;
  line-height: 18px;
}
.tab-box .mypage-tabs li.active  a,
.tab-box .mypage-tabs li:hover a{
  color: #ff8000;
  text-decoration: none;
}
.tab-box .mypage-tabs li a img {
  margin:-99px 2px 0 0;
}
.tab-box .mypage-tabs li a:hover img,
.tab-box .mypage-tabs li.active a img {
  margin:1px 2px 0 0;
}
.tab-box .mypage-tabs li .active-list {
  display: none;
}
.tab-box .mypage-tabs li.active .active-list ,
.tab-box .mypage-tabs li:hover .active-list{
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 10px;
  background: url(../../images/icon-tab-active.png) no-repeat 0 0;
}
.tab-box .mypage-tabs.not-my-home li {
  width: 20%;
}
.tab-box .mypage-tab-view {
  margin-bottom:100px;
}
.mypage .contents {
  display: block;
  margin: 0;
  width: 100%;
}
.mypage #notifi .contents {
  padding-left:10px;
}
.tab-box .mypage-tab-view .my-notice-check {
  width: 100%;
  text-align:right;
  height: 25px;
  margin:10px 0 20px 0;
}
.tab-box .mypage-tab-view .my-notice-check a{
  padding-right:10px;
}
.mypage-tab-view .my-notice-check .notice-check-on {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 30px;
  color: #ff8000;
  font-size: 12px;
  background: url("../../images/icon_check_on.png") no-repeat 0px 0px;
  text-decoration: none;
  cursor: pointer;
}
.mypage-tab-view .my-notice-check .notice-check-off {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 0 0 30px;
  color: #999999;
  font-size: 14px;
  background: url("../../images/icon_check_off.png") no-repeat 0px 0px;
  text-decoration: none;
  cursor: pointer;
}
#my-page-notice-list {
  border-left: 2px solid #eeeeee;
  margin-left: 12px;
}
.my-noti-contents.mynotice h4 {
  margin-left:-13px;
  padding:15px 0 10px 0;
}
.my-noti-contents.mynotice h4:first-child {
  padding:0 0 10px 0;
}
.my-noti-contents.mynotice span.time-wrap {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: #ffffff url('../../images/icon-time-notification.png') no-repeat 0 0;
  text-align: center;
  font-size: 19px;
  line-height: 26px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  vertical-align: middle;
}
.my-noti-contents.mynotice span.notice-date {
  margin-left: 7px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
  color: #ff8000;
  font-size: 14px;
}
.my-noti-contents.mynotice  .list-day-box {
  padding :15px 0;
}
.my-noti-contents.mynotice .noti-time-list.last .notice-last {
  height:40px;
}
.my-noti-contents.mynotice .noti-time-list {
  padding:40px 0 10px 0;
  margin-top:-40px;
  min-height: 80px;
}
.my-noti-contents.mynotice ul {
  list-style-type: none;
  overflow-x: visible;
  overflow-y: visible;
  padding:0;
  max-height: none;
}
.my-noti-contents.mynotice ul li {
  overflow: visible;
  position: relative;
  width: auto;
  min-height: 50px;
  margin-left: 26px;
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 14px 15px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.my-noti-contents.mynotice ul li:hover {
  cursor: pointer;
}
.noti-per-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -48px;
  margin-top: 23px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: #666666;
}
.noti-per-tri {
  position: absolute;
  width: 8px;
  height: 12px;
  background: url('../../images/mynotice_list_tri.png') no-repeat 0 0;
  margin-left: -23px;
  margin-top: 22px;
}
.mynotice ul li .noti-img-wrap {
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.mynotice ul li .noti-img-wrap img {
  width:100%;
  height:100%;
  min-height: 100%;
}

.my-noti-contents.mynotice ul li .noti-contents {
  display: inline-block;
  width: 945px;
  margin-left: 15px;
  padding:0;
  vertical-align: top;
}
.my-noti-contents.mynotice ul li .noti-contents .notipoint {
  color: #ff8000;
}
.my-noti-contents.mynotice .my-notice-notice {
  display: inline-block;
  vertical-align: middle;
  line-height: 49px;
  height: 51px;
  font-size: 14px;
  margin-left: 10px;
  color: #333;
  font-weight: bold;
}
/** My plans { **/
.mypage-tab-view .my-page-plan {
  position: relative;
  width: 100%;
  height:35px;
  margin-top:15px;
}
.mypage-tab-view .my-page-plan ul {
  overflow: hidden;
  height: 20px;;
}
.mypage-tab-view .my-page-plan li {
  float:left;
}
.mypage-tab-view .my-page-plan li:first-child a {
  border-left:none;
  padding:0 20px 0 10px;
}
.mypage-tab-view .my-page-plan li a{
  padding:0 20px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  border-left:1px solid #ddd;
}
.mypage-tab-view .my-page-plan li a:hover,
.mypage-tab-view .my-page-plan li a:focus,
.mypage-tab-view .my-page-plan li.active a {
  color: #FF8000;
  text-decoration: none;
}
.mypage-tab-view .my-page-plan a.btn-plan-trip {
  display: block;
  width:;
  height:20px;
  line-height: 20px;
  font-weight: 600;
  font-size: 14px;
  color: #999;
  position: absolute;
  top:0;
  right:0;
  padding-left:30px;
  background: url(../../images/btn-plan-trip.png) no-repeat 0 0;
}
.mypage-tab-view .my-page-plan .list-order {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  margin-top: -10px;
  z-index: 500;
}
.my-page-box .mypage-tab-view .recommend-sch {
  width: 1216px;
  margin-left:-8px;
}
.my-page-box .mypage-tab-view .recommend-sch li {
  position: relative;
  margin:25px 7px 0 8px;
  border:1px solid #ddd;
  z-index: 501;
}
.my-page-box .mypage-tab-view .recommend-sch .trav-sch .title-img img {
  width: 100%;
  min-height: 130px;
  vertical-align: top;
  position: absolute;
}
.my-page-box .mypage-tab-view .recommend-sch li .private-plan {
  display: block;
  position: absolute;
  right: 7px;
  top: 78px;
  width: 30px;
  height: 30px;
  text-align: left;
  z-index: 12;
}
.my-page-box .mypage-tab-view .recommend-sch li .private-plan img{
  width: 100%;
  height: 100%;
  min-height: 30px !important;
}
.my-page-box .mypage-tab-view .recommend-sch li a{
  display: inline;
  position: static;
  widows:auto;
  height: auto;
  color: #fff;
}
.my-page-box .mypage-tab-view .recommend-sch li .trav-sch-hover {
  display: none;
}
.my-page-box .mypage-tab-view .recommend-sch li:hover .trav-sch-hover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}

.my-page-box .mypage-tab-view .recommend-sch li .btn-delete {
  display: none;
}
.my-page-box .mypage-tab-view .recommend-sch li:hover .btn-delete {
  display: block;
  overflow: hidden;
  position: absolute;
  top:5px;
  right:8px;
  width: 34px;
  height: 30px;
  background: url(../images/plan_per_del.png) no-repeat  center center;
  z-index: 1500;
}

/** My plans } **/

/** Book Mark { **/
.mypage-tab-view .list-option {
  position: absolute;
  top:0;
  right:0px;
  height: 40px;
}
.mypage-tab-view .list-option li {
  float:left;
  height: 20px;
  line-height: 20px;
}
.mypage-tab-view .list-option li a{
  padding:0 15px;
  color: #999;
  font-size: 14px;
  border-left:1px solid #ccc;
}
.mypage-tab-view .list-option li:first-child a {
  border-left:none;
}
.mypage-tab-view .list-option li.active a {
  color: #ff8000;
}
.mypage-tab-view .section-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top:20px;
  margin-bottom:50px;
}

.mypage-tab-view .section-container .section-container_list{
  float:left;
  width:390px;
  margin:0;
}
.mypage-tab-view .section-container #container_section_1 {
  margin:0 15px;
}
.mypage-tab-view .note-container .note-section {
  overflow: hidden;
  position: relative;
  float:left;
  width: 100%;
  margin:0 0 10px 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  z-index: 201;
}
.note-container .note-section  .tit-bar{
  border-bottom:1px solid #eeeeee;
}
.note-section .spot-contents .spot-note-info p.note-list {
  max-width: 185px;
}
.mypage-tab-view .note-container .no-contents {
  height: 160px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #B6B6B6;
  line-height: 170px;
  width: 900px;
  margin-left: 70px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
/** Book Mark } **/
/** Wish Board { **/
#my-wish-board-list.wish-board {
  overflow: hidden;
  width: 1224px;
  margin-left:-24px;
  margin-top:25px;
}
#my-wish-board-list .wish-board {
  position: relative;
}
.wish-board .arrow-up {
  background: url(../../images/icon-wishboard-active.png) no-repeat;
  width: 14px;
  height: 8px;
  position: absolute;
  top:-7px;
  left:170px;
  z-index: 10;
}
.wish-board .board-list {
  overflow: hidden;
  width: 100%;
}
.board-list .list-box {
  overflow: hidden;
  display: block;
  float:left;
  width: 384px;
  height: 315px;
  margin: 0 0 15px 24px;
  padding:15px 9px;
  cursor: pointer;
  vertical-align: top;
  border:1px solid #dddddd;
  background: #ffffff;
  border-radius: 0;
  -webkit-border-radius:0;
  -moz-border-radius: 0;
}

.board-list .list-box .board-title {
  height: 30px;
  display: block;
}

.board-list .list-box .board-title h4 {
  overflow: hidden;
  display: block;
  float: left;
  margin:0;
  font-size: 14px;
  color: #333;
}

.board-list .list-box .board-title span.spot-count {
  float: right;
  font-size: 12px;
  color: #999999;
  font-weight: 600;
}
.board-list .list-box .board-title span.spot-count span {
  margin-left:3px;
  font-weight: normal;
}
.board-list .list-box .spot-images {
  position: relative;
}
.board-list .list-box .board-main-img {
  width: 100%;
  height: 180px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.board-list .list-box .board-main-img img {
  position: relative;
  width: 100%;
  min-height: 180px;
  z-index: 10;
}

.board-list .list-box .board-imgs {
  overflow: hidden;
  display: block;
  float:left;
  width: 32%;
  height: 60px;
  margin: 15px 0 0  2%;
  vertical-align: top;
}

.board-list .list-box .board-imgs.first {
  margin:15px 0 0 0 !important;
}
.board-list .list-box .board-imgs > div {
  width:100%;
  height:60px;
  border: 1px solid #eee;
}
.board-list .list-box .board-imgs img {
  width:100%;
  min-height: 60px;
}
.board-list .list-box .board-imgs div a span {
  display: inline-block;
  text-indent: -9999px;
}
#scrap-board-detail-box {
  float:left;
  width:1200px;
  margin-left:24px;
}
.board-wrap {
  position: relative;
}
.board-wrap .board-content {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  border:1px solid #ccc;
  background:#fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.board-content .list {
  background:#f6f6f6;
}
.board-content .scrapboard-title {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
}

.board-content .scrapboard-title h3 {
  display: block;
  float: left;
  line-height: 60px;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 18px;
}
.board-content .scrapboard-title h3 span {
  margin:0 5px;
  font-weight: normal;
}
.board-content .scrapboard-title h3 .spot-state {
  color: #FF8000;
  font-weight: 600;
  margin:0;
}
.board-content .scrapboard-title .btn-primary {
  float: left;
  margin:12px 0 0 10px;
}

.board-content .scrapboard-title .btn-close {
  position: absolute;
  top:20px;
  right:15px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.scrap-board-close-01:hover {
  text-decoration: none;
  color: #999999;
}
/* 위시보드 상세 박스 */
/* 위시보드 리스트 */
.board-content .scrapboard-select {
  height: 25px;
  display: block;
  width: 1160px;
  margin: 15px auto 20px;
  padding: 0;
}
.board-content .scrapboard-select ul.allwisibeen {
  float: left;
  display: block;
  list-style-type: none;
  margin:2px 0 0 0;
  padding: 0;
}
.board-content .scrapboard-select ul.allwisibeen  li {
  display: block;
  float:left;
  height: 20px;
  line-height: 20px;
  padding:0 20px;
  text-align: center;
  border-right:1px solid #dddddd;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
}

.board-content .scrapboard-select ul.allwisibeen li:hover {
  text-decoration: underline;
  color: #ff8000;
}

.board-content .scrapboard-select ul.allwisibeen  li.active {
  font-weight: bold;
  color: #ff8000;
}
.board-content .scrapboard-select ul.allwisibeen li:first-child {
  padding-left: 5px;
}
.board-content .scrapboard-select ul.allwisibeen li:last-child {
  border-right:0;
}
/* 위시보드 상세박스 페이징  */
.board-content .scrapboard-select .wishb-pagenation {
  float: right;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  overflow: hidden;;
}
.board-content .scrapboard-select .wishb-pagenation .btn-default {
  float:left;
  display: block;
  width: 23px;
  height:24px;
  line-height: 25px;
  color: #999999;
  margin:0;
  padding:0;
  border:none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.board-content .scrapboard-select .wishb-pagenation button:first-child {
  border-right:1px solid #ccc;
}
.board-content .scrapboard-select .wishb-pagenation .btn-default img{
  vertical-align: middle;
}
/* 위시보드 상세박스 리스트 */
.board-content .wishboard {
  overflow: hidden;
  margin-left:1px;
}

.wishboard li {
  position: relative;
  overflow: hidden;
  float:left;
  width:260px;
  height:350px;
  margin:0 19px 20px 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0px 1px 1px rgba(125,125,125,.2);
  -webkit-box-shadow: 0 1px 1px rgba(125,125,125,.2);
  -moz-box-shadow: 0 1px 1px rgba(125,125,125,.2);
  z-index: 501;
  cursor: pointer;
}
.wishboard li a {
  display: block;
}
.wishboard li .wish-image {
  overflow: hidden;
  width:100%;
  height:260px;
}
.wishboard li .wish-image img{
  width:100%;
  min-height:100%;
}

ul.spot-curation-list li .spot-icon-name {
  display: block;
  padding:10px;
  margin:0;
  width: 100%;
  height: 55px;
  background:#ffffff;
}

ul.spot-curation-list li .event-ct-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: top;
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  background-size:36px 36px;
}

.event-ct-icon.event-ct0 {
  background: #597bbd url('../../images/spot-type01-01.png') no-repeat 0 0;
}

.event-ct-icon.event-ct1 {
  background: #45a3c8 url('../../images/spot-type01-02.png') no-repeat 0 0;
}

.event-ct-icon.event-ct2 {
  background: #f2a531 url('../../images/spot-type01-03.png') no-repeat 0 0;
}

.event-ct-icon.event-ct3 {
  background: #a373d4 url('../../images/spot-type01-04.png') no-repeat 0 0;
}

.event-ct-icon.event-ct4 {
  background: #1ea196 url('../../images/spot-type01-05.png') no-repeat 0 0;
}

.event-ct-icon.event-ct5 {
  background: #8ab349 url('../../images/spot-type01-06.png') no-repeat 0 0;
}

.event-ct-icon.event-ct6 {
  background: #5488db url('../../images/spot-type01-07.png') no-repeat 0 0;
}

.event-ct-icon.event-ct7 {
  background:#d65f4c url('../../images/images/spot-type01-etc.png') no-repeat 0 0;
}

ul.spot-curation-list li p{
  font-size:14px;
  color: #ffffff;
  line-height:1.4;
  word-break: break-all;
}

ul.spot-curation-list li .spot-name-city {
  display: inline-block;
  vertical-align: top;
  width: 195px;
}

ul.spot-curation-list li .spot-name-city h5 {
  width:100%;
  line-height: 21px;
  margin:0;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.spot-curation-list li .spot-name-city p {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 12px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.spot-curation-list li .rating{
  display: block;
  height: 35px;
  padding:5px;
  margin:0;
  font-size: 12px;
  color: #999999;
  background: #ffffff;
}

ul.spot-curation-list li .rating span{
  width:25%;
  float:left;
  height:20px;
  line-height: 20px;
  padding-left:22px;
}

.rating span.wishcount {
  background: url('../../images/spot_list_wish_count.png') no-repeat 0 1px;
}

.rating span.wishcount.active {
  color: #d65f4c;
  background: url('../../images/spot_list_wish_count_on.png') no-repeat 0 1px;
}
.rating span.beencount {
  background: url('../../images/spot_list_been_count.png') no-repeat 0 1px;
}
.rating span.beencount.active{
  color: #f2a531;
  background: url('../../images/spot_list_been_count_on.png') no-repeat 0 2px;
}
.rating span.cntcount {
  background: url('../../images/spot_list_cnt_note.png') no-repeat 0 2px;
}
.rating  span.favcount {
  background: url('../../images/spot_list_fav_count.png') no-repeat 0  0;
}
ul.spot-curation-list li .spot-author {
  text-align: center;
  float: right;
  width: 120px;
  margin-top: 20px;
}

ul.spot-curation-list li .spot-author .founder {
  display: none;
  float: right;
  width: 60px;
  font-size: 12px;
  line-height: 15px;
  overflow: hidden;
  display: block;
  text-align: center;
}

ul.spot-curation-list .founder {
  height: 70px;
  padding:15px 10px 0 10px;
  background:#ffffff;
}
ul.spot-curation-list .founder .spot-founder  {
  display: block;
  width: 100%;
  height: 40px;
}
ul.spot-curation-list .founder .spot-founder img {
  float:left;
  width:40px;
  height:100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
ul.spot-curation-list .founder  .founder-name {
  float:left;
  margin-left:10px;
}
ul.spot-curation-list .founder  .founder-name  h6 {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding:5px 0 0 0;
  margin:0;
  color: #999999;
  font-weight:500;

}
ul.spot-curation-list .founder  .founder-name .name {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #333333;
}

.wishboard li .hovermask {
  display: none;
}
.wishboard li:hover .hovermask {
  position: absolute;
  z-index: 501;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  padding:15px 10px;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}
.wishboard li:hover .hovermask .rocation {
  padding-bottom:7px;
  text-align: left;
  line-height: 1.4;
  font-size: 12px;
  color: #cccccc;
  font-weight: 300;
}
.wishboard li:hover .hovermask .rocation span {
  padding:0 7px;
}
.wishboard li:hover .hovermask .rocation span:first-child{
  padding:0 7px 0 0;
}
.wishboard li:hover .hovermask .description {
  font-size:14px;
  color:#ffffff;
  line-height: 1.4;
  text-align: left;
  word-break: break-all;
}
.wishboard li:hover .hovermask .btn-box {
  position: absolute;
  bottom:0;
  left:0;
  display: block;
  width:100%;
  height: 90px;
  padding:0 15px;
  background: #000;
}
.wishboard li:hover .hovermask .btn-box a{
  display: block;
  float:left;
  width:50%;
  height: 90px;
  text-align: center;
  color: #eee;
  font-size:18px;
  text-decoration: none;
}
.wishboard li:hover .hovermask .btn-box .wish-button {
  position: relative;
  padding:30px 0 20px 35px;
  background:url(../../images/icon-wish-board.png) no-repeat 8px 28px;
}
.wishboard li:hover .hovermask .btn-box .wish-button.wish {
  padding:30px 0 20px 35px;
  color: #d65f4c;
  background:url(../../images/icon-wish-board-on.png) no-repeat 8px 28px;
}
.wishboard li:hover .hovermask .btn-box .wish-button::before {
  display: block;
  content:"";
  position: absolute;
  top:22px;
  right:-2px;
  width: 1px;
  height: 25px;
  background:#444444;
}
.wishboard li:hover .hovermask .btn-box .been-button {
  padding:30px 0 20px 50px;
  background:url(../../images/icon-been-board.png) no-repeat 18px 27px;
}
.wishboard li:hover .hovermask .btn-box .been-button.been  {
  padding:30px 0 20px 50px;
  color: #f2a531;
  background:url(../../images/icon-been-board-on.png) no-repeat 18px 27px;
}

.wishboard li:hover .hovermask .btn-box .been-button:hover,
.wishboard li:hover .hovermask .btn-box .wish-button:hover {
  text-decoration: underline;
}
.wishboard li:hover .hovermask .btn-box .been-button.been,
.wishboard li:hover .hovermask .btn-box .wish-button.wish {
  text-decoration: none;
}
/** Wish Board } **/

/* Founded Spots {*/
.my-found-spot {
  position: relative;
  padding-top:50px;
  z-index: 501;
}
.my-found-spot a.btn-add-new-spot  {
  display: block;
  height: 20px;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #999;
  position: absolute;
  top: 10px;
  right: 4px;
  text-decoration: none;
  padding-left: 30px;
  /*background: url(../../images/btn-plan-trip.png) no-repeat 0 0;*/
}
.my-found-spot .wishboard {
  overflow: hidden;
  width: 1252px;
  margin-left:-53px;
}
.my-found-spot .wishboard li {
  margin:0 0 30px 53px;
  cursor: pointer;
}
.my-found-spot .wishboard li.first {
  margin:0 0 30px 0;
}
/* Founded Spots }*/
/* 마이페이지 Tab box }*/

/* no-contents {*/
.my-page-box .contents .no-contents {
  width: 1100px;
  height: 160px;
  line-height: 162px;
  margin:40px 15px 50px 24px;
  text-align: center;
  color: #999;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.my-page-box #my-wish-board-list  .no-contents {
  width: 1100px;
  height: 160px;
  line-height: 145px;
  margin:0;
  text-align: center;
  color: #999;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.my-page-box #my-page-spot-list .no-contents {
  margin-left:45px;
} /*  내가 만든명소 no-content */
.my-page-box .contents.note-container .no-contents {
  margin-left:0;
} /*  내가 만든명소 no-content */
/* no-contents }*/
.mypage .my-page-box .loading-image {
  position: relative;
  top: inherit;
  left: inherit;
  width: 100%;
  padding: 5px 0;
  margin: 0px 0 0 0px;
}
/* Scroll top btn {*/
.my-page-box .search-top{
  z-index: 100;
  width: 1240px;
  position: fixed;
  bottom: 70px;
  left: 50%;
  margin: 0 0 0 -620px;
  text-align: right;
}
.my-page-box .plan-search-top .btn-top {
  float: right;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
/* Scroll top btn }*/
/* notification load-image {*/
#notifi .item-loading {
  position: relative;
}
/* notification load-image }*/