/* plan detail */
/* top */
/* author other info */
ul.author-page-links {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 12px;
  line-height: 18px;
  border-top: 1px solid #eee;
}

ul.author-page-links li a {
  color: #666666;
}

ul.author-page-links li a span.count {
  color: #ff8000;
}

.author-bio-planview {
  width: 150px;
  margin:20px 0 15px 0;
  max-height: 170px;
  display: block;
  font-size: 12px;
  overflow: hidden;
  color: #666666;
  white-space: pre-wrap;
}

ul.user-info-links {
  display:inline-block;
  vertical-align: top;
  list-style-type: none;
  margin:0;
  padding:0;
}

ul.user-info-links.planview {
  display: block;
  margin: 0 auto;
}

ul.user-info-links li {
  display: inline-block;
  vertical-align: top;
  height: 31px;
  width: 31px;
  padding-right: 5px;
}

ul.user-info-links li a,
ul.user-info-links li a img {
  border:0;
  width: 31px;
  height: 31px;
  display: block;
}

/* buttons */
.s-e-d-btns .customize-ex {
  position: absolute;
  right:-10px;
  top:-80px;
  color: #999999;
  background: url('../images/wishmark_ex.png') no-repeat 0 0;
  z-index: 990;
  width: 160px;
  height: 80px;
  letter-spacing: -1px;
  padding: 14px 10px;
  text-align: center;
  font-size: 13px;
}

.s-e-d-btns .customize-ex h5 {
  font-weight: normal;
  margin: 5px 0;
  line-height: 20px;
}

/* checklist */

.checklist .checklist-con{
  width: 100%;
}

.checklist .checklist-con ul {
  margin: 20px auto;
  padding: 20px 0 20px 15px;
  list-style-type: none;
  display: block;
}

li.task-li {
  /*text-align: left;
  width : 260px;
  height:38px;
  line-height: 38px;
  padding: 0 5px 0 38px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border:1px solid #cccccc;
  background: #f1f0ee url('../images/embed_checklist_bg.png') no-repeat 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #999999;*/
  position: relative;
  display: inline-block;
  overflow: hidden;
  float:left;
  width: 250px;
  height: 38px;
  line-height: 38px;
  text-align: left;
  color: #999;
  cursor: default;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}